* {
    box-sizing: border-box;
    font-family:'Courier New', Courier, monospace;
    /* margin: 0px;
    padding: 0px; */
    /* @media screen and(max-width:768px) {
        *
    } */
}

body {
    /* background-color:white; */
    margin: 0px;
    padding: 0px;
  }

/* nav: navagation bar */
nav {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border-bottom: 3px solid transparent;
}

/* nav: logo which is RMW PORTFOLIO */
.logo {
    color: grey;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0 2rem;
}

/* nav: about, my work & contact */

/* contains the box around the nav items */
.nav-items li {
    display: inline-block;
    margin: 0 15px;
}

/* contains the box around the list and anchor element of nav items */
.nav-items li a {
    text-decoration: none;
    color: grey;
    padding: 5px 0;
    position: relative;
}

/* pseudo element */
.nav-items li a::after {
    content: '';
    background: thistle;
    width: 0%;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: width 0.5s;
}

/* creating a hover effect around the nav items list anchor elements */
.nav-items li a:hover::after{
    width: 100%;
}


.main-container {
    background-color:lightslategray;
    margin: 0px;
    height: 200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 14px 16px;
    border: 2px solid transparent;
}

.main-container-content { 
    color: rgb(24, 150, 148);
    margin: 10px 15px;
    padding: 10px 10px;
    font-size: 21px;
    display: flex;
    justify-content: flex-end;
}

.main-container p {
    margin: 10px 20px;
    flex-direction: row;
    justify-content: flex-end;
    align-items: baseline;
    padding: 20px 10px;
    background-color: lightcyan;
}

.main-container img {
    height: 110px;
    width: 110px;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
} 

/* ABOUT ME SECTION */

.sectionheadings {
border: 1px solid black; 
width: 200px;   
}

/* h3 headings */
h3 {
    flex-direction: row;
    justify-content: flex-end;
    /* align-items: baseline; */
    float: inline-start;
    text-align: right;
    padding-left: 30px;
    border-right: 3px solid silver;
    padding-right: 10px;
    color: grey;
}

.abouth3 {
   height: 100px;
   width: 40px;
   margin: 5px 5px;
   padding: 5px 30px ; 
   background-color: transparent;
}

.aboutmep {
    display: flex;
    flex-direction: row-reverse;
    justify-content: baseline;
    
    /* flex-direction: row-reverse;
    justify-content: ;
    align-items: end;
    background-color: transparent;
    float: right;
    */


    /* display: block;
    padding: 0px 30px;
    /* background-color: red;  */
}

/* WORK SECTION */

/* .workh3 {
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    float: inline-start;
    text-align: right;
    padding-left: 30px;
    background-color: lightblue;
} */


/* CONTACT ME SECTION */

/* .contacth3 {
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    float: inline-start;
    text-align: right;
    padding-left: 30px;
    background-color: springgreen; */
 }


.form {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px 20px;
    padding: 20px 10px;
    border: 3px solid black;
}

/*   
.submitform {

}

#name {

}

#email {

}

#subject {

}

#message {

}  */