* {
    box-sizing: border-box;
    font-family:'Courier New', Courier, monospace;
  
    /* @media screen and(max-width:768px) {
        *
    } */
}

body {
    margin: 0;
    padding: 0;
    width: 100%; 
    height: 100vh;
    background-color: whitesmoke; 
  }

/* nav: navagation bar */
nav {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border-bottom: 3px solid transparent;
}

/* nav: logo which is the RMW PORTFOLIO */
.logo {
    color: grey;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0 2rem;
}

/* nav: about, my work & contact */

/* contains the box around the nav items */
.nav-items li {
    display: inline-block;
    margin: 0 15px;
}

/* contains the box around the list and anchor element of nav items */
.nav-items li a {
    text-decoration: none;
    color: grey;
    padding: 5px 0;
    position: relative;
}

/* pseudo element */
.nav-items li a::after {
    content: '';
    background: thistle;
    width: 0%;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: width 0.5s;
}

/* creating a hover effect around the nav items list anchor elements */
.nav-items li a:hover::after{
    width: 100%;
}

/* grey banner */
.main-container {
    background-color:lightslategray;
    margin: 0px;
    height: 200px;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: center;  
}

.main-container-content { 
    color: rgb(24, 150, 148);
    background-color: lightcyan;
    margin: 10px 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; 
    padding: 10px 10px;
    font-size: 21px;
}


.main-container img {
    height: 110px;
    width: 110px;
    margin: 10px 10px;
} 

.aboutsection {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: right;
    border: 1px solid silver;
    padding: 10px 10px;
}

.aboutme {
    flex-direction: row;
    justify-content: flex-end;
    border-right: 3px solid silver;
    padding: 10px 10px;
    width: 20%;
    color: grey;
    background-color: aqua;
    margin: 10px 10px;
}

.para-aboutme {
    color: grey;
    margin: 10px 10px;
    padding: 10px 20px;

}

.worksection {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: right;
    border: 1px solid silver;
    padding: 10px 10px;
}

.mywork {
    flex-direction: row;
    justify-content: flex-end;
    border-right: 3px solid silver;
    padding: 10px 10px;
    width: 20%;
    color: grey;
    background-color: aqua;
    margin: 10px 10px;
    padding-bottom: 25px;
}

.para-work {
    color: grey;
    margin: 10px 20px;
    padding: 10px 20px;

}

.contactsection {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: right;
    border: 1px solid silver;
    padding: 10px 10px;
}

.contact {
    flex-direction: row;
    justify-content: flex-end;
    border-right: 3px solid silver;
    padding: 10px 10px;
    width: 20%;
    color: grey;
    background-color: aqua;
    margin: 10px 10px;
    padding-bottom: 25px;
}

.para-contact {
    color: grey;
    margin: 10px 10px;
    padding: 10px 20px; 
}

.footer {
    height: 100%;
    background-color: aquamarine;
}
/* 
.form {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px 20px;
    padding: 20px 10px;
    border: 3px solid black;
} 

 
.submitform {

}

#name {

}

#email {

}

#subject {

}

#message {

}  */